.App {
  text-align: center;
}

/* .ant-table{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
} */

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: #165BAA;
  color: white;
}

.ant-table-cell{
  /* background-color: aliceblue; */
  font-size: 17px;
}



.ant-input-search input {
  font-size: 17px; /* Set desired font size */
}

.link{
  cursor: pointer;
  /* text-decoration: underline; */
  color: #165BAA;
}

.space{
  margin-left: 5px;
  margin-right: 5px;
}

